@import "tailwindcss";

@theme {
  /* ... */
  --font-sans: "Poppins", "sans-serif";

  --animate-ping: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  /* ping 1s cubic-bezier(0, 0, 0.2, 1) infinite */

  @keyframes ping {

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}